<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo</title>
</head>
<body>
    <form class="todoform">
        <h1 class="h1">ToDo List</h1>
        <input class="text" type="text" placeholder="적어.."/>
        <input class="submit" type="submit" value="추가"/>
        <ul>
            
        </ul>
        <input class="delete" type="submit" value="삭제"/>
    </form>
   <!-- {% for item in item_qs %}
   <h1>
    {{ item.name }} | {{ item.note }}
   </h1>
   {% endfor %} -->
</body>
</html>